@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>View tables</h2>
        @Html.ActionLink("Ingradients", "Index", "Ingradients")
        <br /> @Html.ActionLink("Orders", "")
        <br /> @Html.ActionLink("Prices", "")
        <br /> @Html.ActionLink("Sellers", "")
        <br /> @Html.ActionLink("Selling Points", "")
        <br /> @Html.ActionLink("Shawarmas", "Index", "Shawarmas")
        <br /> @Html.ActionLink("Shawarma Recipes", "")
        <br /> @Html.ActionLink("Time Controllers", "")
    </div>
    <div class="col-md-6">
        <h2>Run Queries</h2>
        @Html.ActionLink("Add Ingradient", "")
        <br /> @Html.ActionLink("Shawarma Selling", "")
        <br /> @Html.ActionLink("Add Recipe", "")
        <br /> @Html.ActionLink("New Recipe", "")
        <br /> @Html.ActionLink("New Price", "")
        <br /> @Html.ActionLink("Add Selling Point", "")
        <br /> @Html.ActionLink("Add New Seller", "")
        <br /> @Html.ActionLink("Selling Point Revenue", "")
        <br /> @Html.ActionLink("Seller Salary", "")
    </div>
</div>