@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>View tables</h2>
        @Html.ActionLink("Ingradients", "Index", "Ingredients")
        <br /> @Html.ActionLink("Orders", "Index","OrderDetails")
        <br /> @Html.ActionLink("Prices", "Index","PriceControllers")
        <br /> @Html.ActionLink("Sellers", "Index", "Sellers")
        <br /> @Html.ActionLink("Selling Points", "Index","SellingPoints")
        <br /> @Html.ActionLink("Shawarmas", "Index", "Shawarmas")
        <br /> @Html.ActionLink("Shawarma Recipes", "Index","ShawarmaRecipes")
        <br /> @Html.ActionLink("Time Controllers", "Index","TimeControllers")
    </div>
    <div class="col-md-6">
        <h2>Run Queries</h2>
        @Html.ActionLink("Add Ingredient", "AddIngredient","DatabaseQueries")
        <br /> @Html.ActionLink("Shawarma Selling", "")
        <br /> @Html.ActionLink("Add Recipe", "")
        <br /> @Html.ActionLink("New Recipe", "")
        <br /> @Html.ActionLink("New Price", "")
        <br /> @Html.ActionLink("Add Selling Point", "")
        <br /> @Html.ActionLink("Add New Seller", "")
        <br /> @Html.ActionLink("Selling Point Revenue", "")
        <br /> @Html.ActionLink("Seller Salary", "")
    </div>
</div>